@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello</h1>


<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Bienvenue sur RH  Manager</h1>
            <p class="lead">Système de gestion des congés RH</p>

            <div class="alert alert-info mt-4" role="alert">
                <h4 class="alert-heading">Projet en développement</h4>
                <p>Application de gestion des employés, départements et demandes de congés.</p>
            </div>

            <button class="btn btn-primary btn-lg mt-3">
                Commencer
            </button>
        </div>
    </div>
</div>
