<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RH Manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Tableau de bord
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="departments">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Départements
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Employés
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leave-requests">
                <span class="bi bi-calendar-check-fill-nav-menu" aria-hidden="true"></span> Demandes de congés
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-leaves">
                <span class="bi bi-person-badge-fill-nav-menu" aria-hidden="true"></span> Mes congés
            </NavLink>
        </div>
    </nav>
</div>

